<nav class="top-bar">
    <div class="row column">
        <div class="top-bar-left">
            <ul class="menu">
                <li class="logo"><img src="/static/img/logo.png"></li>
                <li><a href="#"></a></li>
                <li><a href="#"></a></li>
            </ul>
        </div>

        <div class="top-bar-right">
            <ul class="menu">
                <li><a href="#"></a></li>
                <li><a href="#"></a></li>
            </ul>
        </div>
    </div>
</nav>

<div class="callout large">
    <div class="row column text-center">
        <h1>HiddenNote</h1>
        <p>Keep your data hidden from prying eyes. Messages disappear after first
            view.</p>
    </div>
</div>